.topbar {
  width: 100%;
  height: 50px;
  background-color: #eee;
  /* Fix the topbar at the top  */
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0px 20px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topbarRight {
  display: flex;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  color: #555;
}
.topbarIconContainer :hover {
  color: darkblue;
}

.topIconBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: coral;
  color: white;
  border-radius: 50%;
  font-size: 10px;
}

.topbarAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}
